#header
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 80px;
	background:#EEEDE7;
	box-shadow: 0 5px 10px rgb(0,0,0,0.06);
	position: sticky;
	z-index: 999;
	top: 0;
	left: 0;

}

.text
{
  	text-decoration: none;
	font-size: 25px;
	font-weight: 900;
	color: #1a1a1a;
	transition: 0.3s;
	
}




#navbar
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active
{
	color: rgb(74, 88, 89);
}

#navbar li a.active::after,
#navbar li a:hover::after
{
	content: "";
	width: 30px;
	height: 2px;
	background: rgb(74, 88, 89);
	position: absolute;
	bottom: -4px;
	left: 20px;


}